/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d4d4d4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #515052;
  // border-radius: 10px;
  // border: #d4d4d4 solid 3px;
  
  &:hover {
    background: var(--main);
  }
}
