:root {
    --main: #c59d5f;
    --main-hover: #ad7a2f;
    --body: #000;
    --spinner: #111;
    --linear-gradient-blue: #8fd3f4;
    --linear-gradient-yellow: #f3cb8e;
    --body-bg: #fbfbfb;
    --github: #333;
    --twitter: #00aced;
    --linkedin: #007bb6;

    --text-dark: #000;
    --text-light: #fff;
}

// :root.dark-theme {
//     --main-font-color-dark: #fff;
//     --body-font-color: #fff;
//     --color-background-hero: #bdc0c4;
//     --color-white: #303030;
//     --color-footer: #222222;
//     --color-btn: #fff;
//     --color-copyright: #29262b;
//     --color-background: #121212;
// }